.container {
    width: 1450px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
}

.home-site {
    display: flex;
}

.home-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list-link {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 1;
    flex-grow: 0;
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    /* margin: 0; */
}

.list-link::before {
    content: "";
    display: inline-block;
    background-image: url(../../imgs/home-logo.png);
    width: 28px;
    height: 28px;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 20px;
}

.home-link {
    font-weight: bold;
}

.explore-link::before {
    background-image: url(../../imgs/explore.png);
}

.not-link::before {
    background-image: url(../../imgs/notification.png);
}

.messages-link::before {
    background-image: url(../../imgs/messages.png);
}

.bookmarks-link::before {
    background-image: url(../../imgs/bookmarks.png);
}

.lists-link::before {
    background-image: url(../../imgs/lists.png);
}

.profile-link::before {
    background-image: url(../../imgs/profile-outline.png);
}

.more-link::before {
    background-image: url(../../imgs/more.png);
}

.home-btn {
    background: #1D9BF0;
    border-radius: 27.5px;
    border: 1px solid transparent;

    /* Text style */
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 15px 90px;
}

.home-twitter__logo {
    margin-top: 31px;
    margin-bottom: 51px;
}

.user {
    width: 268px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

.user-logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.user-title {
    margin: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.user-adress {
    margin: 0;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    opacity: 0.6;
}

.other {
    font-weight: bold;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    right: 25px;
}

.home-left {
    width: 250px;
    height: 911px;
    position: relative;
    border-right: 1px solid #E5E5E5;
    padding-right: 15px;
}

/* Home left finishing */

.home-center {
    width: 850px;
}

.center-second__info {
    padding: 30px 0 20px 25px;
    position: relative;
    border-bottom: 1px solid #E5E5E5;
}

.center-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}

.center-top__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 20px 0 20px 20px;
}

.logo-star {
    width: 22px;
    height: 22px;
    margin-right: 20px;
}

.center-user {
    width: 800px;
    display: flex;
    align-items: center;
}

.center-user__logo {
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

.center-user__text {
    font-weight: 600;
    font-size: 22px;
    line-height: 29px;
    color: #828282;
    margin-bottom: 51px;
}

.center-logo {
    margin-right: 20px;
}

.image {
    margin-left: 75px;
}

.center-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logos-btn {
    background: #1DA1F2;
    opacity: 0.4;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
    border-radius: 120px;
    border: 1px solid transparent;

    /* Text style */
    font-weight: bold;
    font-size: 17px;
    line-height: 100%;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    padding: 15px 30px;
}

.center-top__info {
    padding: 15px 20px 15px 20px;
    border-bottom: 1px solid #E5E5E5;
}

.second-user__logo {
    width: 60px;
    height: 60px;
}

.second-user {
    width: 700px;
    display: flex;
    align-items: center;
}

.second-user__name {
    margin-left: 15px;
}

.user-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0;
}

.user-name__span {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0;
}

.user-comment {
    margin: 0;
}

.instruments {
    width: 586px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 75px;
}

.share,
.statistics {
    width: 24px;
    height: 24px;
}

.comment {
    display: flex;
    align-items: center;
}

.comment::before {
    content: "";
    display: inline-block;
    background-image: url(../../imgs/comment.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.retweet {
    display: flex;
    align-items: center;
}

.retweet::before {
    content: "";
    display: inline-block;
    background-image: url(../../imgs/retweet.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.like {
    display: flex;
    align-items: center;
}

.like::before {
    content: "";
    display: inline-block;
    background-image: url(../../imgs/like.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 24px;
    height: 24px;
    margin: 0 10px 0 0;
}

.second-user__other {
    position: absolute;
    top: 21px;
    right: 25px;
    font-weight: bold;
}

.green {
    color: #0CB245;
}

.green::before {
    background-image: url(../../imgs/retweet-green.png);
}

.red {
    color: #EF1C5C;
}

.red::before {
    background-image: url(../../imgs/like-red.png);
}

.user-3__info {
    padding: 10px 25px 20px 25px;
}


.four-user {
    width: 600px;
    display: flex;
}

.four-user__img {
    width: 60px;
    height: 60px;
}

.four-user__name {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.four-user__comment {
    margin-left: 15px;
}

.food-img {
    width: 679px;
    height: 453px;
    margin-top: 15px;
    margin-left: 75px;
    margin-bottom: 22px;
}

.four-user__text {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.four-user__info {
    padding: 10px 25px 0 25px;
    margin-bottom: 20px;
    border-bottom: 1px solid #E5E5E5;
}

/* Home center finished */

.home-right {
    width: 350px;
    height: 980px;
    border-left: 1px solid #E5E5E5;
    padding-left: 15px;
}

.right-card {
    background: #F7F9F9;
    border-radius: 10px;
    padding: 15px;
}

.right-texts {
    position: relative;
}

.right-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0;
}

.search-input {
    width: 350px;
    height: 55px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.right-settings {
    width: 24px;
    height: 24px;
}

.right-from {
    margin: 20px 0px 0px 0px;
}

.right-type,
.right-text {
    margin: 0;
}

.right-type {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #000000;
}

.right-from,
.right-text {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 21px;
    color: #393B41;
    opacity: 0.6;
}

.right-dots {
    font-weight: bold;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
}

.text-blue {
    color: #1DA1F2;
}


.right-block {
    padding: 20px 0px 25px 15px;
    background: #F7F9F9;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.right-block__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}

.block-texts {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.right-block .block-img {
    width: 60px;
    height: 60px;
    margin-right: 13px;
}

.block-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
}

.block-text {
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    opacity: 0.6;
}


.block-title,
.block-text {
    margin: 0;
}

.block-btn {
    font-weight: bold;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    background: #000000;
    border-radius: 50px;
    padding: 10px 18px;
    border: 1px solid transparent;
    margin-left: auto;
}

.text-grey {
    font-size: 16px;
    line-height: 21px;
    color: #536471;
    order: 0;
    flex-grow: 0;
    margin: 5px 1px;
}
.text-line {
    text-decoration-line: underline;
}
.df {
    display: flex;
}